<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [(ngModel)] ="user.id" pInputText> 
            <label for="float-input">Id</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [(ngModel)] ="user.username" pInputText> 
            <label for="float-input">Username</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="float-input" type="password" size="30" [(ngModel)] ="user.password" pInputText> 
            <label for="float-input">Password</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [(ngModel)]="user.name" pInputText> 
            <label for="float-input">Name</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [(ngModel)]="user.email" pInputText> 
            <label for="float-input">Email</label>
        </span>
        <br>
        <button pButton type="button" label="Enviar" class="ui-button-success" (click)="enviarDatos()"></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-9">
        <app-tabla [datosRecibidos]="datos"></app-tabla>
    </div>
</div>